.about-head
{
    margin: 10px auto -50px ;
    width: 100%;
    
    
}

h1 
{
    width: 90%;
    margin: 200px auto; 
    background: #fff;
    padding: 20px;
    text-align: center;
    border: 1px dotted rgb(185, 182, 182) ;
    border-radius: 10px;
    box-shadow: 5px 5px 2px   #ddd ;
    
}

.about-abjd
{
   /* height: 300px;*/
   background: #fff;
    width: 80%;
    border: 1px solid rgb(185, 182, 182) ;
    border-radius: 10px;
    box-shadow: 5px 5px 2px   #ddd ;
    margin: 100px auto 70px ;
    font-size: 38px;
    line-height: 60px;
    padding: 55px;
    

}


hr { 
    border-width: 1px;
    border-color: rgb(185, 182, 182);
    width:80%
    

}

.team{
    background: #fff;
    width: 80%;
    border: 1px solid rgb(185, 182, 182) ;
    border-radius: 6px;
    box-shadow: 5px 5px 2px   #ddd ;
    margin: 10px auto  60px;
}
.team h3 { 

    margin:70px;
    text-align: center;
    font-size: 35px; 
    color: #2980b9;
 }


.teamabjd{
    
    margin-top:30px;
    margin-bottom:30px;
    display: inline-block;
    width: 50%
    }
.teamabjd:last-child{ margin: 10px 310px 50px}

.teamabjd .image {

    position: relative;
    z-index: 2;
    width: 200px;
    height: 200px;
    margin: 40px auto;
    border-radius: 50%;
    background:url("../images/007.png" ) no-repeat;
    }

.teamabjd .image:hover
{
    border-radius: 5%;
    opacity: 0.9;
    transition: all  0.6s ease-in-out;
    
}

.info {
    text-align: center;
}

.info h3 { color: rgb(41, 128, 185)}

