.about-head
{
    margin: 10px auto -50px ;
    width: 100%;
    
    
}

h1 
{
    width: 90%;
    margin: 200px auto; 
    padding: 20px;
    text-align: center;
    border: 1px dotted rgb(185, 182, 182) ;
    border-radius: 10px;
    box-shadow: 5px 5px 2px   #ddd ;
    
}

.about-abjd
{
   /* height: 300px;*/
    width: 75%;
    margin: 100px auto ;
    

}

.about-abjd img 
{
    height: 250px;
    width: 250px;
}



