h3
{
    margin: 181px 100px -73px;
}

.cont
{
    width: 85%;
    margin: 150px auto;
    background-color: #fff;
    border: 1px solid  rgb(185, 182, 182);
    border-radius: 10px;
    box-shadow: 5px 5px 2px   #ddd ;
    padding: 50px;
    overflow: hidden;
}
.row
{
    margin: 25px 60px ;

}
.back-ground
{   height: 200px;
    width: 310px;
    margin: 22px;
    display: inline-block;
    background:#2980B9;
    color: #fff;
    border-radius: 5%;
    text-shadow: 2px 2px 4px #000;

}
.back-ground h3 {   

     margin: 74px 78px -73px;
     text-align: center;
     font-size: 50px;

}
.back-ground h3>a
{
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    cursor: pointer;
}
.back-ground:hover
{
    text-shadow: none;
    background-color: #81818199
}



/*.image {

    position: relative;
    width: 200px;
    height: 183px;
    margin: 40px auto;
    border-radius: 10%;
    background:url("../images/003.jpg" ) no-repeat;
    }



.info h3
{
    
    margin: 50px 119px;
    text-align: center;
    color:#2980B9;
}

.info h3 a
{    
     text-decoration: none;

}