.navbar-default {

  background-color:#959595;
}

.courses {
  margin-top: 135px;
}
.courses h3 {
  text-align: right;
  padding-bottom: 15px;
  font-weight: bold;
}
.courses h3 a {
  color: #2980B9;
  font-weight: bolder;
}
.courses h3 a:hover {
  text-decoration: none;
}
.row {
  margin-top: 45px;
}

.list-group {
  padding: 0;
  margin: 0;
  text-align: center;
}
.list-group-item a:hover {
  text-decoration: none;
}
.block {
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  box-shadow: 0px 0px 5px #ccc;

}
.block .block-title {
  background: #2980b9;
  color: #fff;
  text-align: center;
    padding: 10px 15px;
      font-size: 27px;
  font-weight: bolder;
}
.block .block-content{
  padding:0px;
}
.block .block-content li{
  font-size: x-large;
  font-weight: bold;

}

.side-form {
    border-radius: 0px;
}

.side-form .side-form-heading {
  color: #2980b9;;
  text-align: right;
  padding: 10px 5px;
  font-size: 27px;
  font-weight: bolder;
}
  .side-form .side-form-content {
    padding: 10px 5px;
    margin: 6px 0px 10px 0px;
    text-align: justify;
}
.side-form .side-form-content h4 {

    font-weight: bold;
    line-height: 28px;
    margin-top: -12px;
}
.courses-btn {
width: 50%;
    margin-bottom: 30px;
    background: #2980b9;
font-size: 27px;
font-weight: bolder;


}
@media (max-width: 768px)
{
  .navbar-nav {
    margin-top: 28px;
    padding: 15px;
    background-color: #959595;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 20px;
    width: auto;
    padding: 14px;

  }
  .signin {
    width: 36%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a
  {
    color: #fff;
    text-align: right;
    font-size: 18px;
    padding: 9px;

  }

  .navbar-toggle {
    width: 50px;
    margin-top: 30px;
  }


}

@media(max-width:375px) {

  .navbar-toggle {
    width: 50px;
    margin-top: 30px;
  }



}
