h3 {
    margin-top:150px;
    font-size: 18px
}

.intro-course 
{
    margin: 50px
}

.ul-nav
{

    background-color: #2980b9;
    width: 100%;
    margin: auto;
    
}

.nav-tabs{

    border: none;
    margin : 5px 265px 5px 154px

}

.nav-tabs li {

    float: none;
    display: inline-block;
    padding: 3px;
    margin: 3px 12px;
    font-size: 20px;
}

.nav-tabs  {
    color: #000;
}
.nav-tabs a {
    font-size: 20px;    
    color: #000
}
.nav > li > a:focus, .nav > li > a:hover
{
    background-color: #2980B9;
}
.nav-tabs > li > a:hover
{
    border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active  {

    background-color: #2980b9;  
    color:#fff;
    border:none;
   
}


.checked 
{
    color:#d8c92f;
}

h4 { padding: 10px ; margin: 50px 124px;}

.cont 
{
    background-color: #fff;
    border: 1px solid  rgb(185, 182, 182);
    width: 70%;
    margin: 20px auto 50px  ;
    border-radius: 10px;
    box-shadow: 5px 5px 2px   #ddd ;
    overflow: hidden;
    
}

.cont h3 { margin : 50px  }

.lecs-list {margin:40px 12px; }

.lecs-list a 
{ 
    display: block;
    font-size: 16px;
    margin: 0px 60px ;
    padding: 10px ;
    border: 1px solid #ccc ;
    border-bottom: none;
}

.lecs-list a:last-child { border-bottom: 1px solid #ccc}

.lecs-list a:hover {text-decoration: none ; color: #000}

.ques > .cont {width: 90% }

.ques h4
 {
    padding :20px ; 
    margin: 30px
}

.questions 
{
    padding-bottom: 20px
}


.search-group
{
    margin: 20px 150px -70px ;
    padding: 110px;
}
.search-input{ background-color: #afafaf99}

.search-input::placeholder{ color: #000}

.button-search{background-color: #2980b9}

.or {text-align: center;}

.que
{
    margin: -36px 19px;
    width: 58%;
    height: 115px;
}

.send
{
    background-color: #2980B9;
    color: white;
    padding: 12px 35px;
    display: block;
    margin: 53px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    font-size: 18px;
}

.inst
{
    margin-top: 100px
}
.inst img 
{
    height: 273px;
    width: 233px;
    padding: 40px ;
    margin: 30px;
    float: right;
}

.inst h4 {  margin-top: 100px  }

@media(max-width:375px)
{

    .nav-tabs{
      
        margin: 5px 20px ;
        
        }
        
    .nav-tabs li {
        
        padding: 3px;
        margin: 3px -3px;
        font-size: 15px;
        }
    
    .nav-tabs a {

    font-size: 15px;    
    }

    h4 { font-size: 16px ; margin: 30px}
    
    .cont 
    {
        width: 90%;
    }
    
    .cont h3 { margin : 20 ; font-size: 16px  }
    
    .lecs-list {margin:20px;}
    
    .lecs-list a 
    { 
        font-size: 14px;
        margin: 0px 40px ;
        padding: 10px ;
       
    }

    .ques h4
    {
       margin: 20px
   }
  
   
   .search-group
   {
    width: 154%;
    margin: 20px -48px;
    padding: 75px;
   }
   .que{

    margin: -143px -132px;
    padding: 34px;
   }

   .send
   {
       margin: 150px auto 50px ;  
       width: 40%;
       font-size: 16px;
   }
}




