/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(../fonts/cairo-arabic.woff2) format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(../fonts/latin-ext.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(../fonts/cairo-latin.woff2) format('woff2');
}

a {
font-size: x-large; }

/*start of navbar*/

/*for desktop*/
@media (min-width: 768px) {

body {
direction: rtl;
background-color: #F4F4F4;

}
html, body {
height: 100%;
direction: rtl;
font-family: 'Cairo', sans-serif; }

.navbar-default {
height: 100px;
background-color: #eee;
border-color: #2980b9;
border-bottom: 2px solid #2980b9; }

.navbar-nav {
margin-top: 30px;
font-size: xx-large; }

.navbar-toggle {
margin-top: 47px; }

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2980b9;
}


.navbar-default .navbar-nav > li > a {
color: #fff; }


.signin {
background-color: #2980B9;
border-radius: 9%; }

.signin:hover {
background-color: #4FD1D9;
color:#fff;
transition: all 0.5s ease-in-out;
}


.navbar-brand img {
height: 100%;
filter: drop-shadow(2px 0px 20px #ffffff); }

.affix {
transition: padding 0.2s ease-out; }

.affix-top {
background: rgba(255, 255, 255, 0.1);
border-color: transparent;
border-bottom: .5px solid rgb(41, 128, 185);
padding: 3px;
transition: all 0.5s ease; }

.affix-top .nav > li > a {
color: #ffffff; }

.affix-top.navbar .nav > li > a:hover,
.affix-top.navbar .navbar-brand {
color: #ffffff; }


.navbar-collapse {
    border-top: unset;
}

.search-group {
position: relative;
/*display: inline-flex;*/
width: 100%;
padding: 5%;
}

}
/*for tablet*/

@media (max-width: 768px) {
body {
height: 100%;
direction: rtl;
font-family: 'Cairo', sans-serif;
background-color: #F4F4F4;
}

.navbar-default {
height: 100px;
background-color: #959595;
border-color: #2980b9;
border-bottom: 2px solid #2980b9 }

.navbar-nav {
margin-top: 30px;
font-size: xx-large; }

.navbar-toggle {
margin-top: 47px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #2980b9;
}

.navbar-default .navbar-nav > li > a {
color: #fff; }

.signin {
background-color: #2980B9;
border-radius: 9%; }

.signin:hover {
background-color: #4FD1D9;
color:#fff;
transition: all 0.5s ease-in-out;
}


.navbar-brand img {
height: 100px;
filter: drop-shadow(2px 0px 20px #ffffff); }

.affix {
transition: padding 0.2s ease-out; }

.affix-top {
background: rgba(255, 255, 255, 0.1);
border-color: transparent;
border-bottom: 2px solid rgb(41, 128, 185);
padding: 3px;
transition: all 0.5s ease; }

.affix-top .nav > li > a {
color: #ffffff; }

.affix-top.navbar .nav > li > a:hover,
.affix-top.navbar .navbar-brand {
color: #ffffff; }


#abjaaad {
background-color: #959595;
}
.navbar-collapse {
    border-top: unset;
}
.search-group {
position: relative;
display: inline-flex;
width: 100%;
padding: 5%;
}

}

/*end of navbar*/

/*start of header*/

.header {
width:100%;
height: 100%;
background-size: cover;
background: url("../images/006.jpg") no-repeat top center;
background: linear-gradient 
(rgba(20, 20, 20, .5),
 rgba(20, 20, 20, .5)),  
 url("../images/001.jpg") no-repeat top center;
background-attachment: fixed;
position: relative;
border-bottom: 13px solid  #2980B9;
overflow: overlay;


}
/* intro start */
.intro {
    margin: 106px 0;
}
.intro h1{
   
    margin: 50px 70px  0 ;
    font-size: 72px;    
}
 .learn h1{
    font-size: 40px;
    margin-bottom: -37px;
}
.intro span{
    color:#2980B9;
    
}
.intro h3{
    margin-bottom: 70px;
}
/*intro end*/
.header::-webkit-scrollbar {
    display: none;
}
.header img {
    width:100%;
    
}

/*search bar*/

.header .search {
padding-top:150px;
width: 100%;
/*min-height: 300px;*/
font-size: 25px;
color: white;
font-family: 'Cairo', sans-serif;
}
#search-input{
margin:auto;
/*padding: 3px;*/
border: solid 1px #E4E4E4;
border-radius: 6px;
background-color: #fff;
}

#search-input input{
border: 0;
box-shadow: none;
}

#search-input button{
margin: 2px 0 0 0;
background: none;
box-shadow: none;
border: 0;
color: #4d4d4d;
/*padding: 0 8px 0 10px;*/
border-right: solid 1px #ccc;
}

#search-input button:hover{
border: 0;
box-shadow: none;
border-right: solid 1px #ccc;
}


.search-group {
position:relative;
/*display:inline-flex;*/
width: 100%;
padding: 5%;
}



.search-input, .button-search {
padding: 0.6875em 2em;
}

.search-input {
transition: background 0.25s, border-color 0.25s, color 0.25s;
width: 52%;
border: unset;
border-radius: 0 2em 2em 0;
background: rgba(255, 255, 255, 0.5);}

.search-input::placeholder {
transition: color 0.25s;
color: #6b6b6b;
font-size: 0.95em;
}

input.search-input:focus {
transition: background 0.25s, border-color 0.25s;
background: rgba(0, 0, 0, 0.075);
border-color: rgba(0, 0, 0, 0.015);
outline: none;
}
}
input.search-input:focus::placeholder {
transition: color 0.25s;
color: #ffffff;
}

.button-search {
transition: background 0.25s, color 0.25s;
border: none;
border-radius: 2em 0 0 2em;
background: #2980B9;
}
.button-search:hover {
transition: background 0.25s, color 0.25s;
background: #4FD1D9;
color: #fff;
transition: all 0.5s ease-in-out;
}

/*end of search bar*/

/*start of course categories*/

.category_box{
margin-top:30px;
margin-bottom:30px;
display: inline-flex;

}
.row h1 span {
color: #2980B9;
font-weight: bolder;
}

.category_box > .icon {
text-align: center;
position: relative;
}

.category_box > .icon > .image {
position: relative;
z-index: 2;
width: 200px;
height: 200px;
margin-right: 19.5%;
border: 5px solid #fff;
line-height: 120px;
border-radius: 50%;
background:url("../images/003.jpg");
vertical-align: middle;
}

.category_box > .icon:hover > .image {
border-color: #666;
}

.category_box > .icon > .image > i {
padding: 25px;
font-size: 60px !important;
color: #fff !important;
text-shadow: 1px 1px 5px #888888;
}

.category_box > .icon:hover > .image > i {
color: white !important;
}

.category_box > .icon > .info {
margin-top: -32px;
background: #fff;
border: 1px solid #ccc;
padding: 19px 0 15px 0;
font-size: 14px;
width: 313px;
}
.category_box > .icon > .info > p {
color: #666;
line-height: 1.5em;
margin: 20px;
font-size: 15px;
height: 70px;
}

.category_box > .icon > .info > .title {
color: #4D4D4D;
font-size:16px;
}

.category_box > .icon > .info > .title > a{
color: #4D4D4D;
}

.category_box > .icon:hover > .info > .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
color: #222;
}

.category_box > .icon > .info > .more a {
color: #222;
line-height: 12px;
text-transform: uppercase;
text-decoration: none;
}

.category_box > .icon:hover > .info > .more > a {
color: #000;
padding: 6px 8px;
border-bottom: 4px solid #666;
}

.courses-btn{
width:100%;
padding: 15px;
border: solid 1px #eee;
border-radius: 6px;
background:rgba(41, 128, 185,0.9);
color:#ffffff;
font-size: x-large;
margin-top:20px;
margin-bottom:10px;
}

.courses-btn:hover{
/*background:#959595;*/
background: #4FD1D9;
/*color:#2980b9;*/
color:#ffffff;
transition: all 0.5s ease-in-out;
}

/*end of course categories*/

/*start of footer*/

.footer {
width:100%;
height:450px;
background: url("../images/002.jpg") repeat bottom center;
position: relative;

}
.footer .overlay {
background-color: rgba(54, 54, 54, 0.9);
position: absolute;
width: 100%;
height: 450px;
}


.footer a:hover{
text-decoration: none;
}


.footer .footer-links{
margin:75px auto 20px auto;
display: inline-block;
text-align: center;
}

.footer .footer-links li{
float: right;
padding:3px 15px;
}

.footer .footer-links li a{
color:#FFF;
font-size:30px;
}
.footer .footer-links li a:hover {
color:#2980B9;
}


.footer .social-icons{
text-align: center;
display: inline-block;

}

.footer .social-icons li{
float:right;
padding:4px 25px;
}

.footer .social-icons li a{
color:#fff;
}

.footer .social-icons li a:hover{
color:#2980B9;
}
.copyrights p{
color: #fff;
font-size: 16px;
font-weight: bold;
margin: 11px 37px 0 0;
}
.copyrights p span{
background-color: #4FD1D9;
border-radius: 50%;
margin: 0px;
padding: 0 11px;

}

}
/*end of footer*/
