
.navbar-default {

    background-color:#959595;
    }
    

.form {

    width: 40%;
    background-color: #fff;
    margin: 190px auto ;
    padding: 10px;
    border: 1px solid rgb(185, 182, 182) ;
    border-radius: 10px;
    box-shadow: 5px 5px 2px   #ddd ;


}
.form .fa
{
    color: #2980b9;}

.form h2{
    width: 90%;
    font-size: 24px;
    margin:20px ;
    padding: 10px 0px 20px 0px;
    border-bottom: 2px solid rgb(168, 168, 168);
}

.form-container
{
    width: 90%;
    margin: auto;
    padding:10px 
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 95%;
    padding: 12px;
    margin: 15px;
    display:block;
    border: 1px dotted #000;
    box-sizing: border-box;
}

/* Set a style for button */
button {
    background-color: #2980B9;
    color: white;
    padding: 12px 35px;
    margin: 35px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    font-size: 22px;
}

.form h4{
    width: 90%;
    font-size: 20px;
    margin: 20px;
    padding: 20px 11px 20px 0px;
    border-top: 2px solid rgb(168, 168,168)

}

.form h4 a 
{
    font-size: 23px;
    color: #2980B9;
    text-decoration: none;
    padding: 5px ;
}
    .form h2{
        width: 90%;
        font-size: 20px;
        margin:20px ;
        padding: 10px 0px 20px 0px;
        border-bottom: 2px solid rgb(168, 168, 168);
    }

 @media (max-width: 768px)
 {
    
    .navbar-toggle {
        width: 50px;
        margin-top: 30px;
    }

    .form {
        width: 80%;
    }

    .form h4 {
        font-size: 20px;
        margin:-5px 12px 
    }

    button {
      
        padding: 12px 35px;
        margin: 35px 15px;
    }
 }
 
@media(max-width:375px) {
        
        .navbar-toggle {
            width: 50px;
            margin-top: 30px;
        }
    
        .form {
            width: 80%;
        }
    
        .form h4 {
            font-size: 20px;
            margin:-5px 12px 
        }
    
        button {
          
            padding: 12px 35px;
            margin: 35px 15px;
        }
        
    }